<%= form_for(@recipe) do |recipe_form| %>
  <% if @recipe.errors.any? %>
    <div id="errors">
      <h2>
        <%= pluralize(@recipe.errors.count, "error") %> prevented this recipe from saving
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= recipe_form.label :name %><br>
    <%= recipe_form.text_field :name %>
  </p>

  <p>
    <%= recipe_form.label :prep_time_in_mins %><br>
    <%= recipe_form.text_field :prep_time_in_mins %>
  </p>

  <p>
    <%= recipe_form.label :servings %><br>
    <%= recipe_form.text_field :servings %>
  </p>

  <div>
    <%= recipe_form.fields_for :ingredients do |ingredient_form| %>
      <%= render 'ingredient_fields', f: ingredient_form %>
    <% end %>

    <p>
      <%= link_to_add_association 'Add Ingredient', recipe_form, :ingredients, wrap_object: Proc.new {|ingredient| ingredient.build_food_item; ingredient }, class: "link" %>
    </p>
  </div>


  <div>
    <%= recipe_form.fields_for :directions do |direction_form| %>
      <%= render 'direction_fields', f: direction_form %>
    <% end %>

    <p>
      <%= link_to_add_association 'Add Direction', recipe_form, :directions, class: "link" %>
    </p>
  </div>

  <div>
    <%= recipe_form.submit %>
  </div>
<% end %>
