<div class="nested-fields recipe_wrapper">
  <p class= "field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </p>

  <p class= "field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </p>

  <%= f.fields_for :food_item do |food_item_form| %>
    <!--
      <%= food_item_form.label :name%> 
      <%= food_item_form.select :options_from_collection_for_select(FoodItem.all, :name, :name), { include_blank: true } %>
    -->

    <%= render 'food_item_fields', f: food_item_form %>
  <% end %>

  <%= link_to_add_association 'Add New Ingredient', f, :food_item, class: "link" %>

  <p>
    <%= link_to_remove_association "Remove Ingredient", f, class: "link" %>
  </p>
</div>
