<div id="sidebar">
  <%= render "sidebar_general" %>
</div>

<div id="recipe_content">
  <h1 class="name">
    <%= @recipe.name %>
  </h1>

  <p class="date">
    Submitted by <%= @recipe.user.first_name %> <%= @recipe.user.last_name %>
    <%= time_ago_in_words(@recipe.created_at) %> ago
    <% if user_signed_in? && @recipe.user_id == current_user.id %>
      | <%= link_to 'Edit', edit_recipe_path(@recipe) %>
      | <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>

  <h3> Prep time in minutes: <%= @recipe.prep_time_in_mins %></h3>
  <h3> Servings: <%= @recipe.servings %></h3>

  <div class="recipe_wrapper">
    <h3> Ingredients: </h3>
    <% @recipe.ingredients.each do |ingredient| %>
      <p>
        <%= ingredient.amount %> <%= ingredient.unit %> <%= ingredient.food_item.name %>
      <p>
    <% end %>
  </div>

  <div class="recipe_wrapper">
    <h3> Directions: </h3>
    <% @recipe.directions.each do |direction| %>
      <p>
        <%= direction.step_number %>. <%= direction.description %>
      <p>
    <% end %>
  </div>
</div>
