<div id="recipe_content">
  <h1 class="name">
    <%= @recipe.name %>
  </h1>

  <p class="date">
    Submitted <%= time_ago_in_words(@recipe.created_at) %> ago
    <% if user_signed_in? %>
      | <%= link_to 'Edit', edit_recipe_path(@recipe) %>
      | <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </p>

  <p class="directions">
    <%= @recipe.prep_time_in_mins %>
  <p>

  <p class="directions">
    <%= @recipe.servings %>
  <p>

  <p class="directions">
    <%= @recipe.directions %>
  <p>
</div>
